@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);

#menu-0 .navbar-toggler {
  color: #000;
}
#header1-2 P {
  font-size: 22px;
}
#header1-2 H1 {
  font-size: 72px;
}
#header1-a H1 {
  font-size: 30px;
  font-family: 'Alegreya Sans', sans-serif;
  color: #f1c050;
}
#header1-a P {
  text-align: left;
  font-size: 22px;
}
#header1-a B {
  font-size: 30px;
}
#menu-b .navbar-toggler {
  color: #000;
}
#header1-c P {
  font-size: 22px;
  text-align: left;
}
#header1-c H1 {
  font-size: 72px;
}
